{% extends "partials/base.html" %}

{% block title %}Challenge Editor{% endblock %}

{% block content %}

<div class="centre_div" id="content">
    <div class="title">{{ category_name }}, Challenge {{ challenge.challenge }}</div>
    <div class="subtitle">Edit Challenge</div>
    <i id="result"></i><br/>
    <form id="form">
        <label for="title">Challenge Title:</label>
        <input name="title" type="text" placeholder="Challenge Title" value="{{ title }}"/>

        <label for="points">Challenge Points:</label>
        <input name="points" type="number" placeholder="Challenge Points" step="50" min="0" value="{{ points }}"/>

        <label for="description">Challenge Description:</label>
        <textarea name="description" placeholder="Challenge Description" value="{{ description|safe }}">{{ description }}</textarea>

        <label for="flag_hash">Challenge Flag Hash:</label>
        <input name="flag_hash" type="text" placeholder="Challenge Flag Hash" value="{{ flag_hash }}"/>

        <label for="hint">Challenge Hint:</label>
        <textarea name="hint" placeholder="Challenge Hint" value="{{ hint }}">{{ hint }}</textarea>

        <label for="format">Flag format:</label>
        <input name="format" type="text" placeholder="Format" value="{{ format }}" />
    </form>
    <button id="save">Save</button>

    <div class="hr"></div>
    <a href="/admin/challenge_editor/{{ category }}">
        <button class="button">Back</button>
    </a>
</div>
{% endblock %}
{% block scripts %}
<script>
    function ajaxOnDocumentLoad() {
        $("#save").click(function (e) {
            e.preventDefault();

            let form_data = $('#form').serializeArray();
            $.post("/admin/challenge_editor/save/{{ category }}/{{ challenge.challenge}}", form_data,
            function (data, status) {
                if (data.s)
                    $("#result").text(data.m).fadeIn();
                else
                    alert("error");
            });
        });
    }
</script>
{% endblock %}