{% extends "partials/base.html" %}

{% block title %}Levels{% endblock %}

{% block content %}
<div class="centre_div" id="content">
    <div class="title">Edit Challenges</div>
    <div class="title-sub">Select a category to edit.</div>

    {% for category in categories %}
        <a href="/admin/challenge_editor/{{ category }}"><div class="level-chal">
            {{ categories[category] }}
        </div></a>
    {% endfor %}

    <div class="hr"></div>
    <a href="/admin/">
        <button class="button">Back</button>
    </a>
</div>
{% endblock %}
