{% extends "partials/base.html" %}

{% block title %}Support{% endblock %}

{% block content %}
<div class="centre_div" id="content">
    <div class="title"Admin Support Area</div>
    <div class="title-sub">Respond to tickets here</div>

    <a href="/support/admin/open/"><div class="level-chal">
        Open Tickets
    </div></a>

    <a href="/support/admin/all/"><div class="level-chal">
        All Tickets
    </div></a>

    <div class="hr"></div>
    <a href="/">
        <button class="button">Back</button>
    </a>
</div>

{% block bottom %}{% endblock %}
{% endblock %}
