{% extends "partials/base.html" %}

{% block title %}Support{% endblock %}

{% block content %}
<div class="centre_div" id="content">
    <div class="title">Selected Tickets</div>
    <!--<div class="title-sub"></div>-->

    {% if tickets == [] %}
        <div class="title-sub">
            There are no tickets! Rejoice!
        </div>
    {% endif %}

    {% for ticket in tickets %}
        <a href="/support/tickets/{{ ticket.ticket_id }}?admin=1"><div class="level-chal">
            {{ ticket.ticket_title }}
        </div></a>
    {% endfor %}

    <div class="hr"></div>
    <a href="/support/admin/">
        <button class="button">Back</button>
    </a>
</div>

{% block bottom %}{% endblock %}
{% endblock %}
