{% extends "formal/formal_base.html" %}

{% block title %}Contributors - {% endblock %}

{% block all_content %}
    <div class="top-swish">
        <div class="top-inner">
            <div>Contributors</div>
            <p>Here you can find a list of people who contributed towards the creation of the CTF. Please don't DM or harass them about challenge hints - ask in the Discord server instead!</p>
        </div>
    </div>

    <div id="content">
        <h1>Art</h1>
        <h2>These people made art assets for the project:</h2>
        <ul>
            {% for person in contributors["art"] %}
                <li>{{ person }}</li>
            {% endfor %}
        </ul>

        <div class="sect">
            <div class="sect-in">
                <h1>Audio</h1>
                <h2>These people created the sound effects and music for the project:</h2>
                <ul>
                    {% for person in contributors["audio"] %}
                        <li>{{ person }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <h1>Programming</h1>
        <h2>These people created the backend, frontend, and run the server:</h2>
        <ul>
            {% for person in contributors["programming"] %}
                <li>{{ person }}</li>
            {% endfor %}
        </ul>

        <div class="sect sect2">
            <div class="sect-in">
                <h1 id="chaldev">Challenge Devs</h1>
                <h2>People who made at least one challenge, and the challenges they made!</h2>
                <ul class="ul-columns">
                {% for person, challenges in contributors["challenges"].items() %}
                    <li>
                        <div class="ulc-head">{{ person }}</div>
                        <ul>
                            {% for challenge in challenges %}
                                <li>{{ challenge }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>

        <!-- Reasons we can't be partnered with the Cyber Discovery discord: Dave -->

    </div>
{% endblock %}