<html>
<!-- THIS PAGE IS NOT PART OF THE CTF -->
<!-- Don't try and break into this page unless a
     challenge has explicitly told you to do so! -->
<head>
    {% assets "scss_formal" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="#0d0d14" name="theme-color"/>
    <meta name="mobile-web-app-capable" content="yes">

    <title>{% block title %}{% endblock %}Really Awesome CTF</title>
    {% block head %}{% endblock %}
</head>

<body>
    <header>
        <div class="head-int">
            <a href="/" id="brand">Really Awesome CTF</a>
        </div>
    </header>

    {% block all_content %}
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    {% endblock %}

    <footer>
        <div class="foot-int">
            <div class="foot-col">
                <div class="foot-col-head">RACTF</div>
                <p><a href="/about">About</a></p>
                <p><a href="/conduct">Code of Conduct</a></p>
                <p><a href="/privacy">Privacy Policy</a></p>
                <p><a href="/support/tickets/new">Support</a></p>
            </div>
            <div class="foot-col">
                <div class="foot-col-head">Social</div>
                <p><a href="https://discord.gg/FfW2xXR">Discord</a></p>
            </div>
            <div class="foot-col col-right">
                <p>&copy; 2019 RACTF Team</p>
            </div>
        </div>
    </footer>

    <div id="cookie-popup">
        <div class="cookie-int">
            <p>We use cookies to ensure user security. By using this site, you agree to our use of cookies. Read more about our use of cookies in our <a href="/privacy">Privacy Policy.</a></p>
            <button onclick="removeCookieMessage()">I understand, go away</button>
        </div>
    </div>

    {% assets "js_bare" %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% block scripts %}{% endblock %}
    <script>
        function removeCookieMessage() {
            setCookieSeconds("cookie_confirm", "yes", 259200)
            $("#cookie-popup").remove();
        }

        if (getCookie("cookie_confirm")) {
            removeCookieMessage()
        }
    </script>
</body>
</html>
