<div class="bottom_div" id="bottom">
    <span style="color: {{ completion_colour }}">{{completion}}%</span>
    complete | Ranked
    <span {% if placement == 1 %}style="color: gold"{%
             elif placement == 2 %}style="color: silver"{%
             elif placement == 3 %}{% endif %}>
    #{{placement}}</span> on leaderboard |

    <span{% if hints_colour %}style="color: {{ hints_colour }}"{% endif %}>{{hints}}</span>
    hint{% if hints != 1 %}s{% endif %} used |
    {{score}} points |
    {{solved}} challenge{% if solved != 1 %}s{% endif %} solved 
    {% if firstbloods != 0 %} | {{firstbloods}} first solve{% if firstbloods != 1 %}s{% endif %}{% endif %}

    <div class="logout_button">
        <a href="/api/logout"><button class="logout_button">Log out</button></a>
    </div>
</div>
<div class="bottom-pad"></div>
