.hr {
    width: 400px;
    max-width: 80%;
    margin: 1rem auto 0;
    height: 1px;
    background-color: darken($theme-col, 5%);
}

h2, h3, h4, h5, h6, h7 {
    margin-bottom: 0.5em;
    margin-top: 2em;
    font-weight: 500;
}

label {
    display: block;
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-size: 1rem;
}

input[type="text"], input[type="number"], textarea {
    font-size: 1.2rem;
    border-radius: $rounding;

    border: 1px solid lighten($theme-col, 15%);
    color: #ddd;
    font-family: 'Roboto Mono', monospace;
    font-size: 21px;
    padding: 5px 10px;
    background-color: darken($theme-col, 5%);
    text-align: center;
    outline: none;
}

textarea {
    font-size: 1em;
    min-width: 90%;
    min-height: 7em;
    margin-top: 8px;
}

input[type="text"]:focus {
    border: 1px solid lighten($theme-col, 35%);
    color: $foreground;
}

a {
    text-decoration: none;
    color: #33c;

    &.emphasis-link {
        text-decoration: underline;
        color: $foreground;

        &:hover {
            text-decoration: none;
        }
    }
}

button {
    background-color: lighten($theme-col, 5%);
    border-radius: $rounding;
    border: 1px solid lighten($theme-col, 10%);
    display: block;
    cursor: pointer;
    color: $foreground;
    font-family: $font-stack;
    font-size: 1.2rem;
    padding: 5px 10px;
    text-decoration: none;
    transition: background-color 1s;
    margin: 1rem auto 0;

    &:hover {
        background-color: $theme-col;
    }
    &:active {
        background-color: darken($theme-col, 5%);
        position: relative;
        top: 1px;
    }

    &.large {
        padding: 15px 50px;
        font-weight: 500;
        margin-top: 3em;
    }

    &.logout_button {
        color: #e00;
        background: none;
        border: none;
        margin: 0;
        height: 1em;
        font-size: .9rem;
        padding: 0;

        &:hover {
            background: none;
            text-decoration: underline;
            color: #f00;
        }
    }
}

.switch-button {
    font-size: 0;

    >button {
        border-radius: 0;
        display: inline-block;
        margin: 0;
        padding: 5px 20px;
        min-width: 100px;
        opacity: 0.5;
        transition: none;

        &.active {
            opacity: 1;
        }

        &:first-child {
            border-radius: $rounding 0 0 $rounding;
        }

        &:last-child {
            border-radius: 0 $rounding $rounding 0;
        }
    }
}

.continue_button {
    font-size: 1.4rem;
    float: left;
    width: 60%;
}

div.logout_button {
    float: right;
    height: 1em;
    font-size: .8em;
}

.container-tag {
    margin-top: 1.5em;
    font-style: italic;
    font-size: .8em;
}

.logs {
    font-size: .8em;
    text-align: left;
    width: calc(100vw - 128px);
    word-wrap: break-word;
    white-space: pre-line;

    background-color: rgba(darken($theme-col, 5%), 0.7);
    padding: 1em 2em;
    border-radius: $rounding;
    margin-top: 1em;
}

.cd-grow {
    max-width: none;
    padding: 0 64px;
}

.firstBloodText {
    color: red;
}

.redtext {
    color: red;
}

.medal {
    top: 10px;
}
