/* Site messages */
#site-msg {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.site-msg {
    max-width: 80vw;
    width: 800px;
    margin: 8px auto;
    background-color: darken($theme-col, 5%);
    border: 2px solid $accent-1;
    padding: 16px 32px;
    font-size: 1.5em;
    box-shadow: 0 3px 20px -5px #000;
}

.sm-body {
    margin-top: 8px;
    font-size: .8em;
}

/* Success page */
#particle-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Solve popups */
#score_alerts {
    position: fixed;
    right: 16px;
    bottom: 48px;
    overflow: hidden;
}

.score-popup {
    padding: 16px 32px;
    border-radius: 2px;
    background-color: rgba(darken($theme-col, 5%), 0.7);
    width: 500px;
    cursor: pointer;
    margin-top: 1rem;
}

.score-popup-title {
    font-size: 1.2rem;
    margin-bottom: 4px;
}

.score-popup-body {
    font-size: .9rem;
}

/* Index */
.index-lnk {
    color: $foreground;
    margin-top: 1rem;
    font-size: .8rem;
}

/* Levels page */
.level-chal {
    padding: 2rem 16px;
    width: 300px;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    border-radius: 2px;
    color: $foreground;
    display: inline-block;
    background-color: rgba(darken($theme-col, 5%), 0.7);
    border: 1px solid darken($theme-col, 5%);
    word-wrap: break-word;

    position: relative;

    &.completed {
        background-color: rgba(#115423, 0.7);
        border: 1px solid #115423;
    }

    >.level-diff {
        position: absolute;
        right: 8px;
        opacity: .3;
        font-size: .9em;
        bottom: 4px;
    }
}
