#profile-container {
    display: flex;
    padding: 16px;
}

.p-img {
    overflow: hidden;
    width: 254px;
    height: 254px;
    background-color: darken($theme-col, 5%);
    border-radius: 25%;
    margin-bottom: 12px;
    box-shadow: 1px 1px 5px #000;
}

.p-img img {
    margin: -1px;
    width: 256px;
    height: 256px;
}

.p-meta {
    font-size: 1.1em;
    margin-top: 4px;
}

.p-left {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}
.p-right {
    flex-grow: 1; padding: 16px;
}

.pr-item {
    padding: 12px 16px;
    background-color: rgba(darken($theme-col, 5%), 0.5);
    border-radius: 24px;
    margin-bottom: 8px;
    width: 100%;
    text-align: left;
    display: flex;
}

.pr-icon {
    width: 45px;
    background: rgba($foreground, 0.3);
    border-radius: 24px;
    margin: -12px -16px;
    flex-shrink: 0;
    margin-right: 16px;
    background-repeat: no-repeat;
    background-position: center;
}

.pr-bt {
    background-color: rgba($accent-1, 0.7);
}

.pr-bt .pr-icon {
    background-image: url("/static/img/beta.png");
}

.pr-do {
    background-color: rgba($donor-color, 0.7);
}
.pr-do .pr-icon {
    background-image: url("/static/img/donor_large.png");
}

.pr-ad {
    background-color: rgba($admin-color, 0.7);
}
.pr-ad .pr-icon {
    background-image: url("/static/img/admin.png");
}

.pr-chal {
    padding: 12px 16px;
    background-color: rgba(darken($theme-col, 5%), 0.7);

    margin-bottom: 4px;
    max-width: 512px;
    width: 100vw;
    text-align: left;
}

.prc-points {
    font-size: .8em;
}

.p-left .lbi-points-b {
    margin: 0 auto;
}
