{% extends "partials/base.html" %}

{% block title %}Containers{% endblock %}

{% block content %}
<div class="centre_div" id="content">
    <div class="title">Active Containers</div>

    {% for i in containers %}
        {% if i.image.tags|length %}
            <a href="logs/{{ i.name }}">
                <div class="level-chal">
                    {{ i.name }}
                    <div class="container-tag">
                        {{ i.image.tags[0].split(':')[0].split('/')[0] }}
                        <br>
                        {{ i.image.tags[0].split(':')[0].split('/')[-1] }}
                    </div>
                </div>
            </a>
        {% endif %}
    {% endfor %}

    <a href="/admin/">
        <button class="button">Exit</button>
    </a>
</div>
{% endblock %}
