{% extends "partials/base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
  <div class="centre_div" id="content">
      <div class="title">CTF Starting in T-<span id="time">00:00:00:00</span></div>
      <div class="subtitle">Check out the <a href="/about">About Page</a> and <a href="/conduct">Code of Conduct</a> to get prepared!</div>
  </div>
{% endblock %}
{% block scripts %}
  <script>
    let date = {{ countdown }} * 1000;
    function doTime() {
      let now = new Date();
      let nowUTC = new Date(now.getUTCFullYear(), now.getUTCMonth(), now.getUTCDate(), now.getUTCHours(), now.getUTCMinutes(), now.getUTCSeconds());
      let delta = date - nowUTC;

      let days = Math.floor(delta / (1000 * 60 * 60 * 24));
      let hours = Math.floor((delta % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      let minutes = Math.floor((delta % (1000 * 60 * 60)) / (1000 * 60));
      let seconds = Math.floor((delta % (1000 * 60)) / 1000);

      days = days.toString().padStart(2, '0')
      hours = hours.toString().padStart(2, '0')
      minutes = minutes.toString().padStart(2, '0')
      seconds = seconds.toString().padStart(2, '0')

      $("#time").text(days + ":" + hours + ":" + minutes + ":" + seconds);

      if (delta < 0) {
        clearInterval(x);
        $("#time").text("00:00:00:00");
        location.href = "/login";
      }
    }
    let x = setInterval(doTime, 1000);
    doTime();
  </script>
{% endblock %}

{% block donate %}{% endblock %}
