{% extends "partials/base.html" %}

{% block title %}Thanks for your donation!{% endblock %}

{% block donate %}{% endblock %}

{% block content %}
{% if anonymous %}
    <div class="centre_div" id="content">
        <div class="title">Thank you for your donation!</div>
        <div class="title-sub">Since you made an anonymous donation, you won't recieve perks.</div>

        <hr>
        <i>If you didn't mean to make an anonymous donation, <a href="/support/tickets/new">open a support ticket</a> and include your PayPal Transaction ID.</i>

        </div>
    </div>
{% else %}
    <div class="centre_div" id="content">
        <div class="title">Thank you for your donation!</div>
        <div class="title-sub">You should recieve all your eligible perks within a few minutes.</div>

        <hr>
        <i>Certain perks may take longer to process, such as the Personal Message from Bax. If you do not recieve your perks within 24 hours, please <a href="/support/tickets/new">open a support ticket</a>.</i>

        </div>
    </div>
{% endif %}
{% block scripts %}
    <script type="text/javascript">
        function ajaxOnDocumentLoad() {
            startConfetti();
        }
    </script>
{% endblock %}
{% endblock %}
