{% extends "partials/base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
<div class="home-wrap">
    <div id="content" class="home-pane">
        <div class="title">Welcome, {{ name }}</div>

        <a href="/hub"><button class="home-btn">Continue Challenges</button></a>
        <a href="/leaderboard"><button class="home-btn">View Leaderboard</button></a>
        <a href="/support" id="support"><button class="home-btn">Support</button></a>

        <a href="/settings"><button class="home-btn btn-less">Settings</button></a>
        {% if is_admin %}
            <div class="hr"></div>
            <a href="/admin/"><button class="home-btn">Admin Panel</button></a>
        {% endif %}
    </div>

    <div class="home-pane">
        <div class="title">News</div>
        {% if alertdata|length > 0 %}
            <div id="news">
            {% for alert in alertdata %}
                [{{ alert.title }}] {{ alert.content }}
                <br>
            {% endfor %}
            </div>
        {% else %}
            <div id="news">No news at this time</div>
        {% endif %}

        <div class="title">Credits</div>
        <div>Bentechy - Programming, Audio, Challenges</div>
        <div>NateKomodo - Programming, Challenges</div>
        <div>ZomBMage - Programming</div>
        <div>Lightspeedana - Programming, Audio</div>
        <div>Dave - Challenges</div>
        <div>Nick - Programming</div>
        <div>Kernal Panic - Programming</div>
        <div>Bottersnike - Challenges, Programming</div>

        <br>
        <a class="emphasis-link" href="/contributors">View All Contributors</a>
    </div>
</div>
{% include "partials/bottom.html" %}
{% endblock %}
