{% extends "partials/base.html" %}

{% block title %}Settings{% endblock %}

{% block content %}
    <div class="centre_div" id="content">
        <div class="title">Settings for {{ name }}</div>

        <div class="title-sub">Your referral link: <a href="/join/{{ user.discord_user_id }}">/join/{{ user.discord_user_id }}</a></div>

        <label for="namebox">Site nickname:</label>
        <input type="text" id="namebox" value="{{ name }}" data-initial="{{ name }}"></input>
        <div id="nameresult">.</div>
        <button class="button" id="change-name">Change name</button>

        <button class="button" id="audio">
            Enable audio
        </button>
        <button class="button" id="randomAudio">Randomize audio</button>

        <button class="button" id="vfx">
            Disable visual effects
        </button>

        <div class="hr"></div>
        <a href="/home">
            <button class="button">Back</button>
        </a>
    </div>
    {% include "partials/bottom.html" %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        function ajaxOnDocumentLoad() {
            let audio = $("#audio");
            let audio_state = false;
            if (getCookie("audio") === "yes")
                audio_state = true;
            if (audio_state)
                audio.text("Disable audio");
            else audio.text("Enable audio");

            let vfx = $("#vfx");
            let vfx_state = true;
            if (getCookie("vfx") === "no")
                vfx_state = false;
            if (vfx_state)
                vfx.text("Disable visual effects");
            else vfx.text("Enable visual effects");

            $("#audio").click(function() {
                if (audio_state) {
                    $(this).text('Enable audio').data('active', '');
                    setCookieSeconds("audio", "no", 1e5)
                    $("#bgm")[0].pause();
                } else {
                    $(this).text('Disable audio').data('active', '1');
                    setCookieSeconds("audio", "yes", 1e5)
                    randomMusic();
                }
                audio_state = !audio_state;
            });

            $("#vfx").click(function() {
                if (vfx_state) {
                    $(this).text('Enable visual effects');
                    setCookieSeconds("vfx", "no", 1e5);
                } else {
                    $(this).text('Disable visual effects');
                    setCookieSeconds("vfx", "yes", 1e5);
                }
                location.reload();
            });

            $("#change-name").click(function() {
                let newname = $("#namebox").val();
                if (newname === $("#namebox").data("initial")) return;

                $.post("api/changeName", {
                    name: newname
                }, function(data, status) {
                    $("#nameresult").text(data.m).animate({opacity: 1}, 200)
                                    .delay(2000).animate({opacity: 0}, 500);
                });
            });

            $("#randomAudio").click(function() {
                randomMusic();
            });
        }
    </script>
{% endblock %}
