{% extends "partials/base.html" %}

{% block title %}Admin{% endblock %}

{% block content %}
<div class="centre_div" id="content">
    <div class="title">Admin Pages</div>
    <br>

    <a href="alerts"><div class="level-chal">
        Manage Alerts
    </div></a>

    <a href="members"><div class="level-chal">
        Manage Members
    </div></a>

    <a href="challenge_editor"><div class="level-chal">
        Challenge Editor
    </div></a>

    <a href="/docker"><div class="level-chal">
        Docker Status
    </div></a>

    <a href="/support/admin/"><div class="level-chal">
        Access Support
    </div></a>

    <div class="hr"></div>
    <a href="/home">
        <button class="button">Back</button>
    </a>
</div>
{% endblock %}

{% block donate %}{% endblock %}
