{% extends "partials/base.html" %}

{% block title %}Members{% endblock %}

{% block content %}
<div id="adm-conf">
    <div class="title">Use hint?</div>
    <div class="subtitle">Are you sure you want to use a hint?</div>

    <div>
        <button id="conf" class="button">Use a hint</button>
        <button id="canc" class="button btn-less">Cancel</button>
    </div>
</div>

<div class="centre_div" id="content">
    <div class="title">Members</div>

    {% for user in users %}
        <div class="lba-item">
            <div>
                <div class="lba-title{% if user.isbanned %} lba-title-banned{% endif %}"
                     data-u="{{ user.discord_user_id }}">
                    {{ user.display_name }} ({{ user.discord_user_id }})
                </div>
                <div class="lba-points">{{ user.points() }} points | {{ user.referrals() }} referral{{ "" if user.referrals() == 1 else "s" }}</div>
            </div>
            {% if 0 and user.first_bloods != 0 or user.isbeta %}
                <div class="lbi-points-b">
                    {% if user.isbeta %}<img class="beta" src='/static/img/beta.png'>{% endif %}
                    {% for i in range(user.first_bloods) %}
                        <img src='/static/img/firstsolve.png'>
                    {% endfor %}
                </div>
            {% endif %}

            {% for chal in user.solved_challenges %}
                <div class="lba-c" data-c="{{ chal.category }}" data-cc="{{ chal.challenge }}" data-u="{{ user.discord_user_id }}">
                    <div class="lbac-m">
                        <div class="lbac-title">
                            {{ chal.title }}
                        </div>
                        <div class="lba-points">{{ chal.points }} points</div>
                    </div>
                    {% if chal.first == user.display_name %}
                        <div class="lbac-f">First solve</div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}

    <div class="hr"></div>
    <a href="/admin/">
        <button class="button">Back</button>
    </a>
</div>
{% endblock %}

{% block donate %}{% endblock %}

{% block scripts %}
<script>
    function ajaxOnDocumentLoad() {
        let conf = $("#adm-conf");
        function hideConfirm() {
            conf.animate({opacity: 0}, 200, function() {$(this).hide()});
        }
        function showConfirm(title, sub, lbl, onconf) {
            conf.children(".title").text(title);
            conf.children(".subtitle").text(sub);
            $("#conf").text(lbl)[0].onclick = onconf;
            conf.css("display", "flex").animate({opacity: 1}, 300);
        }

        $("#canc").click(hideConfirm);

        $(".lba-c").click(function(e) {
            let self = $(this);
            let chal = self.children(".lbac-m").children(".lbac-title").text().trim();
            let c = self.data("c");
            let cc = self.data("cc");
            let u = self.data("u");
            showConfirm("Unscore flag?",
                "This will unscore '" + chal + "'",
                "Unscore", function() {
                    self.remove();
                    console.log("hi");

                    $.post("/api/admin/remc", {
                        category: c,
                        challenge: cc,
                        uid: u,
                    });

                    hideConfirm();
                });
        });

        $(".lba-title").click(function() {
            let self = $(this);
            let banned = self.hasClass("lba-title-banned");
            let u = self.data("u");
            if (banned) {
                showConfirm("Unban user",
                "This will unban '" + $(this).text().trim() + "'",
                "Unban", function() {
                    self.removeClass("lba-title-banned");
                    $.post("/api/admin/unban", {
                        uid: u,
                    });

                    hideConfirm();
                });
            } else {
                showConfirm("Ban user",
                "This will ban '" + $(this).text().trim() + "'",
                "Ban", function() {
                    self.addClass("lba-title-banned");
                    $.post("/api/admin/ban", {
                        uid: u,
                    });

                    hideConfirm();
                });
            }
        });
    }
</script>
{% endblock %}
